$dark-bg: #202c37;
$dark-elements: #2B3844;
$dark-text: #ffffff;
$light-bg: #fafafa;
$light-elements: #ffffff;
$light-text: #111517;

$radius: 0.5rem;
$shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
$transition: all 0.3s ease;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
