@use 'styles/variables' as *;
@use 'styles/mixins' as *;

:root {
  --bg-color: #fafafa;
  --text-color: #111517;
  --element-color: #ffffff;
}

body.dark-theme {
  --bg-color: #202c37;
  --text-color: #ffffff;
  --element-color: #2b3945;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
